security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/api/v1/auth/(login|setup|setup-status|refresh)
            stateless: true
            security: false

        api:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            jwt: ~

    access_control:
        - { path: ^/api/v1/auth/(login|setup|setup-status|refresh), roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/users, roles: ROLE_ADMIN }
        - { path: ^/api/v1/settings, roles: ROLE_ADMIN }
        - { path: ^/api/v1/radarr-instances, roles: ROLE_ADMIN }
        - { path: ^/api/v1/media-players, roles: ROLE_ADMIN }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }

    role_hierarchy:
        ROLE_ADMIN: ROLE_ADVANCED_USER
        ROLE_ADVANCED_USER: ROLE_USER
        ROLE_USER: ROLE_GUEST

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
