parameters:
    watcher_auth_token: '%env(WATCHER_AUTH_TOKEN)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\WebSocket\WatcherWebSocketServer:
        arguments:
            $internalToken: '%watcher_auth_token%'

    App\Service\WatcherCommandService:
        arguments:
            $watcherAuthToken: '%watcher_auth_token%'
